{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResourceHub</title>
    <link rel="icon" href="{% static 'logo/Resource.png' %}" type="image/icon type">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />
</head>
<body>
<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
              Resource
              <span class="text-primary">Hub</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              <p>Our website is dedicated to providing a platform for users to ask and answer questions related to a variety of topics. Whether you're a student, a professional, or just someone looking to learn something new, our community is here to help.</p>
              <p>We believe that sharing knowledge and helping others is an important part of personal growth and development. By providing a space for users to connect with one another and exchange information, we hope to promote learning and encourage curiosity.</p>
              <p>Our team is made up of passionate individuals who are committed to making this platform the best it can be. We are constantly working to improve our website and provide the best user experience possible.</p>
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <h1 class=" ls-tight text-dark">
                  Create A New Account
                </h1>
                <form action="./" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <h5 style="color: red; font-size:16px">
                    {% for message in messages %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>hi{{ message }}</li>
                    {% endfor %}
                  </h5>
                  <input type="hidden" name="Unique_id_answer" value="{{signupcode}}" readonly>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" for="first_name" name="first_name" id="first_name" class="form-control" required/>
                        <label class="form-label" for="first_name">First name - {{signupcode}}</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" for="last_name" name="last_name" id="last_name" class="form-control" required/>
                        <label class="form-label" for="last_name">Last name</label>
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="email" for="email" name="email" id="email" class="form-control" required/>
                    <label class="form-label" for="email">Email address</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" for="pass1" name="pass1"  id="password" class="form-control" required/>
                    <label class="form-label" for="pass1">Password</label>
                  </div>

                  <!-- C Password input -->
                  <div class="form-outline mb-4">
                    <input type="password" for="confirm_pass" name="pass2"  id="password" class="form-control" required/>
                    <label class="form-label" for="confirm_pass">Password</label>
                  </div>
                  <!--account type-->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <div class="d-flex justify-content-left">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked required/>
                      <label class="form-check-label" for="form2Example33">
                        Subscribe to our newsletter  
                      </label>
                    </div>
                    <div class="dropdown d-flex mx-3">
                      <select class="form-select" aria-label="Default select example" name="acc_type" required>
                        <option selected>Account Type</option>
                        <option value="121">Student</option>
                        <option value="131">Volunteer</option>
                      </select>
                    </div>
                  </div>
                  <!-- Checkbox -->
                  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign up
                  </button>
                  <div class="form-check d-flex justify-content-center mb-4">
                    <label class="form-check-label" for="form2Example33">
                      Already Signed Up to ResourseHub?   <a href="{% url 'signin' %}">Signin</a>
                    </label>
                  </div>
  
                  <!-- Register buttons -->
                  {% comment %} <div class="text-center">
                    <p>or sign up with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-google"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>
  
                    <button type="button" class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-github"></i>
                    </button> {% endcomment %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  <!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>
<script type="text/javascript" src="{% static 'bootstrap.bundle.min.js' %}"></script>
</body>
<!--  footer-->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
    <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->
  
    <!-- Right -->
    <div>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <!-- Content -->
      <h6 class="text-uppercase fw-bold mb-4">
        <i class="fas fa-gem me-3"></i>Resource Hub
      </h6>
      <p>
        Here you can get soultions to your problems.
      </p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">
        Useful links
      </h6>
      <p>
        <a href="{% url 'pricing' %}" class="text-reset">Pricing</a>
      </p>
      <p>
        <a href="{% url 'view_profile' %}" class="text-reset">Settings</a>
      </p>
      <p>
        <a href="https://resourcehubcomm.netlify.app/" class="text-reset">Help</a>
      </p>
      <p>
        <a href="{% url 'tos' %}" class="text-reset">Terms of Use</a>
      </p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
      <p><i class="fas fa-home me-3"></i> Patiala, India</p>
      <p>
        <i class="fas fa-envelope me-3"></i>
        dev.codebreakersofficial@gmail.com
      </p>
      
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CodeBreakers</a>
  </div>
  <!-- Copyright -->
</footer>
</html>