{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResourceHub</title>
    <link rel="icon" href="{% static 'logo/Resource.png' %}" type="image/icon type">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
    rel="stylesheet"
    />
    <link
    href="{% static 'signin/sigintemp.css'%}"
    rel = "stylesheet"
    />
    <link
    href="{% static 'signin/temp.css'%}"
    rel = "stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
              <h1 class=" ls-tight text-dark">
                Signin
              </h1>
                <form action="./" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h5 style="color: red; font-size:16px">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </h5>      
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" name="email" for="email" id="form3Example3" class="form-control form-control-lg"
                    placeholder="Enter a valid email address" required/>
                  <label class="form-label" for="form3Example3">Email address</label>
                </div>
      
                <!-- Password input -->
                <div class="form-outline mb-3">
                  <input type="password" name="pass1" for="pass1" id="form3Example4" class="form-control form-control-lg"
                    placeholder="Enter password" required/>
                  <label class="form-label" for="form3Example4">Password</label>
                </div>
      
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Checkbox -->
                  <div class="form-check mb-0">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" required/>
                    <label class="form-check-label" for="form2Example3">
                      Remember me
                    </label>
                  </div>
                  <!-- forgot pass-->
                  <a type="button" class="text-body" data-bs-toggle="modal" data-bs-target="#forgott_pass">
                    Forgot password?
                  </a>
                  {% comment %} <a href="" class="">Forgot password?</a> {% endcomment %}
                </div>
      
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                  <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                      class="link-danger">Register</a></p>
                </div>
      
              </form>
            </div>
          </div>
        </div>
      </section>
      <!--forgot pass modal-->
      <div class="modal fade" id="forgott_pass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="{% url 'forgotpass' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <h5 style="color: red; font-size:16px">
                    {% comment %} {% for message in messages %} {% endcomment %}
                      <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>hi{{ message }}</li>
                    {% comment %} {% endfor %} {% endcomment %}
                  </h5>
                  <div class="form-floating border-3 border-primary">
                    <input type="email" name="email" class="form-control" id="floatingPassword" placeholder="Enter Your Email">
                    <label for="email">Your Email</label>
                  </div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Confirm</button>
                </form>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"
></script>
</body>
<!--  footer-->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
    <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->
  
    <!-- Right -->
    <div>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->
  
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      <!-- Content -->
      <h6 class="text-uppercase fw-bold mb-4">
        <i class="fas fa-gem me-3"></i>Resource Hub
      </h6>
      <p>
        Here you can get soultions to your problems.
      </p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">
        Useful links
      </h6>
      <p>
        <a href="{% url 'pricing' %}" class="text-reset">Pricing</a>
      </p>
      <p>
        <a href="{% url 'view_profile' %}" class="text-reset">Settings</a>
      </p>
      <p>
        <a href="https://resourcehubcomm.netlify.app/" class="text-reset">Help</a>
      </p>
      <p>
        <a href="{% url 'tos' %}" class="text-reset">Terms of Use</a>
      </p>
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      <!-- Links -->
      <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
      <p><i class="fas fa-home me-3"></i> Patiala, India</p>
      <p>
        <i class="fas fa-envelope me-3"></i>
        dev.codebreakersofficial@gmail.com
      </p>
      
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">CodeBreakers</a>
  </div>
  <!-- Copyright -->
</footer>
</html>